#access {
    background-color: #A193861F;
    padding: 250px 0 70px;
    .title{
        padding-left: 8%;
    }
    @include sp {
        padding: 0;
        .title{
            padding: 60px 0 50px 5%;
        }
    }
    
}

.access-content{
    height: 300px;
    display: flex;
    justify-content: space-between;   
    @include sp {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .access-text {
        background-color: #D0C5BA;
        height: 300px;
        width: 40%;
        letter-spacing: 0.1em;
        display: inline-block;
        text-align: left;
        // align-items: center;
        // vertical-align: center;
        padding-left: 8%;
        color: #fff;
        @include sp {
            background: linear-gradient(180deg, #D0C5BA 0%, #D0C5BA 280px, #A193861D 280px, #A193861D 100%);
            order: 1;
            width: 100%;
            height: 340px;
            padding-left: 5%;
        }
        
        h3 {
            // margin-top: 30px;
            color: #00000038;
            font-size: 2.4rem;
            font-weight: bold;
            @include sp {
                margin-top: 30px;
            }
            
        }
        p {
            margin-top: 30px;
            line-height: 2.5em;
            @include sp {
                margin-top: 20px;
                margin-bottom: 100px;
            }
        }

    }
}

iframe{
    width: 60%;
    height: 300px;
    @include sp {
        width: 100%;
        height: 250px;
    }
}