#concept {
    
    background: linear-gradient(180deg, #A193861F 0%, #A193861F 50%,#A1938689 50%, #A1938689 100%);
    height: 1000px;
    padding: 250px 8% 100px;  
    @include sp {
        background: linear-gradient(180deg, #A193861F 0%, #A193861F 25%, #A1938689 25%, #A1938689 100%);
        height: 750px;
        padding: 60px 5% 60px;
        .title {
            padding-bottom: 50px;
        }
    }
}


.c-image {
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: space-between;
    @include sp {
        height: 60vw;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}
 
.concept-img1 {
    padding-right: 10px;
    @include sp {
        padding-right: 0;
        width: 49.5%;
        overflow: hidden;
        img {
            height: 100%;
            width: auto;
            transform: translate(-50%, 0);
        }
    }
}

@include sp {
        .concept-img2 {
            width: 49.5%;
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
                transform: translate(-20%, 0);
            }
        }
}

.c-content-wrap {
    
    padding: 8% 5%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .c-text {
        margin-left: 10%;
    }
    @include tab {
        flex-direction: column;  
        .hair {
            font-size: 1.8rem;
            text-align: center;
            padding: 30px 0;
        }  
        .c-text {
            margin-left: 0;
            width: 100%;
        }
    }
}



