#eyecatch {
    overflow: hidden;
    background-image: url(../img/component.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 630px;
    background-size: contain;
    position: relative;
    left: 0;
    
    @include tab {
    }
    @include sp {
        height: 500px;
        background-position: top left;
        background-size: cover;
    }
 
}      

.eyecatch__wrap {
    color: #000;
    position: absolute;
    top: 40%;
    left: 7%;   
    height: 20%; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    p {
        font-size: 6rem;       
        font-family: 'Garamond';
        font-style: italic;
        white-space: nowrap;
    }
    
    @include sp {
        color: #fff;
        transform: translate(-50%, -50%); 
        top: 45%;
        left: 50%;
        height: 20%;
        h3 {
            font-size: 2.3rem
        }
        p {
            font-size: 3.5rem;
            order: -1;
        }
    }
}






