#eyecatch {
    background-image: url(../img/component.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    @include tab {
        background-position: top left;
    }
 
}      

.eyecatch__wrap {
    position: absolute;
    top: 50%;
    left: 25%;   
    transform: translate(-50%, -50%); 
    height: 20%; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    p {
        font-size: 6rem;       
        font-family: 'Garamond';
        font-style: italic;
    }
    
    @include tab {
        color: #fff;
        top: 45%;
        left: 50%;
        height: 15%;
        h3 {
            font-size: 2.5rem
        }
        p {
            white-space: nowrap;
            font-size: 5rem;
            order: -1;
        }
    }
}






