


hr {
    margin-top: 120px;
    margin-bottom: 20px;
    color: #70707036;
    border-style: solid 1px;
    @include sp {
        margin: 80px 0 0;
    }
}

#footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp {
        margin: 80px 0;
        flex-direction:column;
    }
}

.footer-main {
    white-space: nowrap;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        margin-right: 20px;
        color: #7070704D;
        font-size: 32px;
    }
    .fab {
        font-size: 2rem;
    }
    @include sp {
        width: 100%;
        order: 1;
        .h2 {
            font-size: 1.8rem;
        }
    }
}

button {
    width: 184px;
    height: 40px;
    font-size: 1.8rem;
    color:#707070;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #707070;
    letter-spacing: 0.1em;
    
    @include sp {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
}