#menu {
    padding-top: 250px;
    padding-bottom: 80px;
    @include sp {
        padding-top: 0;
        padding-bottom: 0;
        .title {
            padding: 80px 0;
        }
    }
}


.menu-wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @include sp {
        flex-direction: column;
    }
}

.menu-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 26%;
    @include sp {
        width: 100%;
        margin-bottom: 60px;
    }
    
    img {
        width: 100%;
    }
    h3 {
        white-space: nowrap;
        letter-spacing: 0.05em;
        padding-top: 30px;
        font-size: 3rem;
        @include sp {
            text-align: left;
            padding-left: 10px;
        }
    }
    p {
        text-align: left;
        padding: 30px 0 0 10px;
        @include sp {
            padding-right: 20px;
        }
    }
    .price {
       text-align: right;
        letter-spacing: 0.1em;
    }
}


